{% extends "base.html" %}
{% block content %}
<div class="container">
  <h2>Fidelización y Segmentos de Clientes</h2>
  <form method="post" enctype="multipart/form-data">
    <div>
      <label>Sube tu dataset (nombre, fecha_alta, num_pólizas, siniestros_12m):</label>
      <input type="file" name="dataset" required>
    </div>
    <button type="submit">Calcular Segmentos</button>
  </form>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class="flashes">
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message|safe }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  {% if output_path %}
    <a href="{{ url_for('static', filename='graficos/clientes_segmentados.csv') }}" download class="cta-button">Descargar CSV Segmentado</a>
  {% endif %}
  {% if tabla_html %}
    <h4>Primeros Clientes Segmentados</h4>
    {{ tabla_html|safe }}
  {% endif %}
</div>
{% endblock %}
